body {
    position: relative;
    max-width: 1440px;
    height: 1080px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

header {
    position: absolute;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

img {
    height: 447.4263916015625px;
    width: 539.2236938476562px;
    border-radius: 0px;
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 37.11%;
}

.main-text {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.sub-text {
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

button {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    background: #333333;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer {
    position: absolute;
    width: 226px;
    height: 17px;
    left: 607px;
    top: 1024px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

@media (max-width:600px) {
    header {
        position: absolute;
        height: 25px;
        left: 24px;
        top: 20px;
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: #333333;
    }
    img {
        height: 220.35203552246094px;
        width: 286.829833984375px;
        position: absolute;
        left: 11.73%;
        right: 11.78%;
        top: 11.49%;
        bottom: 65.29%;
    }
    .main-text {
        position: absolute;
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
        color: #333333;
    }
    .sub-text {
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
    }
    button {
        position: absolute;
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
        background: #333333;
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    footer {
        position: absolute;
        width: 226px;
        height: 17px;
        left: 75px;
        top: 890px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }
}